{{ define "main" }}
    <div class="category-title">
        <h1>{{.Title}}</h1>
        <div>Eine Rezeptsammlung</div>
    </div>
    {{ .Content }}
    <div class="category container">
        <div class="row">
            {{ range .TagValue.Pages }}             
                <div class="col-12 m-1">
                    <a href="{{.RelURL}}">
                        <div class="card" style="height:100%">
                            <div class="card-body">                                    
                                <h1>{{.Title}}</h1>
    
                                    <p>TODO: Summary</p>
                            </div>
                        </div>
                    </a>
                </div>                            
            {{ end }}
        </div>
    </div>
{{ end }}