{{ define "main" }}
<div class="register-title">
    <h1>Rezepte von A&nbsp;bis&nbsp;Z</h1>
</div>
<div class="register">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{ .Content }}

    <div class="container"> 
        <div class="row justify-content-start">
            {{ $site := .Site -}}
            {{ $recipes := $site.PagesByType "recipe"}}
            {{- range (map (field "Title") $recipes | map (prefix 1) | uniq | sort ) -}}
                {{- $letter := . }}
                <div class="col m-1">
                    <div class="card" style="height:100%">
                        <h4 class="card-header">{{ $letter }}:</h4>
                        <div class="card-body">                                                            
                        {{ range (sortBy "Title" $recipes) -}}
                            {{- if hasPrefix $letter (.Title) }}
                                <div><a href="{{.RelURL}}">{{.Title}}</a></div>                                                            
                            {{ end -}}
                        {{- end -}}
                        </div>
                    </div>
                </div>                  
            {{- end -}}
        </div> 
    </div>   
</div> 
{{ end }}
